<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <p class="bg-teal-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aliquam earum quam sunt eum, laudantium numquam
        excepturi? Sed at natus voluptas corporis sapiente labore ut ea vero odio eveniet culpa voluptatem eos alias
        provident reiciendis et, nam recusandae! Iure veniam maxime dolorem recusandae suscipit dolorum. Quis explicabo
        nulla maiores excepturi? Necessitatibus repellendus eveniet sunt doloremque laboriosam modi nesciunt minima in,
        assumenda, repudiandae quo incidunt aliquid dolore aut velit repellat, excepturi nihil? Similique laborum vitae
        soluta tempore! Quis debitis repellat obcaecati, corporis quod laborum quos tempore molestias consequuntur natus
        voluptate ducimus. Eveniet earum magnam, blanditiis, sed ex nostrum ea, esse voluptatum modi in quasi iusto nemo
        laboriosam sunt ratione est mollitia? Veritatis quaerat accusantium eligendi commodi ullam nulla quam fugiat
        mollitia, sed quod a eveniet quae dolor autem laboriosam quas ratione alias aut suscipit ut rerum ipsum libero.
        Asperiores iusto necessitatibus voluptatibus eius maiores at. Fugit expedita quidem distinctio tempore omnis ea!
        Delectus soluta cupiditate cum placeat maxime ullam, ducimus nostrum cumque. Eaque, expedita facilis! Ullam
        culpa soluta officiis aliquid aspernatur, atque neque fugiat maiores minima voluptatibus? Asperiores et
        voluptate tempore iusto blanditiis molestiae, minus doloremque cupiditate necessitatibus fugit aspernatur
        magnam, modi tempora dolorum maxime. Repellat dicta nostrum, obcaecati nesciunt ipsam debitis totam accusamus
        optio quod? Accusantium, consectetur consequuntur ducimus qui, alias iste fugit error necessitatibus, quidem
        atque eaque animi ea nostrum quae accusamus sit maiores.</p>
</body>

</html>